@CHARSET "UTF-8";
*{
        font-family:'微软雅黑';
    }
    .navAction{
        color: #fff !important;
        background-color: #337ab7 !important;
        border:0px !important;
    }
    .tableTop50{
        margin-top:50px;
    }
    .tableBg{
        background:#337ab7;
        color:#fff;
        border-top:1px solid #fff !important;
    }
    .info td,.tableBg td{
        border-top:4px solid #fff !important;
    }
    .info td{
        color:#666 !important;
        font-size:14px;
    }
    .th{
        border-bottom:0px;
    }
    .printButton{
        width:60px;
        height:30px;
        font-size:14px;
        line-height:30px;
        text-align:center;
        color:#fff;
        background:#337ab7;
        border-radius:5px;
        float:right;
        margin-top:30px;
        cursor:pointer;
        
    }
    .operation{
        width: 50px;
        height: 25px;
        display: block;
        line-height: 25px;
        color: #fff;
        background: #337ab7;
        text-align: center;
        border-radius: 5px;
        cursor:pointer;
    }
    .finish{
        width: 50px;
        height: 25px;
        display: block;
        line-height: 25px;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        cursor:pointer;
        background:#5cb85c !important;
    }
    .lose{
        width: 50px;
        height: 25px;
        display: block;
        line-height: 25px;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        cursor:pointer;
        background:#d9534f !important;
    }
    .goodsTableTd{
        border-top:0px !important;
    }
    .goodsTableTr{
        font-size:12px !important;
    }
    .form-group{
        width:50%;
    }
    .pay-input{
	    height: 40px !important;
	    width: 300px !important;
	    margin: 0px auto !important;
	}
	.payButtonDiv{
	    margin:15px auto !important;
	}
	.payDiv{
	    margin:20px auto !important;
	}
	.payButtonDiv{
	    margin:15px auto !important;
	}
	.payButton{
	    text-align:center !important;
	}
	.create{
    margin-top:20px;
	}
	.modal-dialog {
	    width:400px !important;
	}
	.payDiv{
	    margin:20px auto !important;
	}